## Drill - describing data

In [253]:
mydata = pd.DataFrame(columns=['ChildName','Age'],data=[['Greg',14],['Marcia',12],['Peter',11],['Jan',10],['Bobby',8],['Cindy',6],['Oliver',8]])

In [221]:
mydata

  ChildName  Age
0      Greg   14
1    Marcia   12
2     Peter   11
3       Jan   10
4     Bobby    8
5     Cindy    6
6    Oliver    8

In [137]:
mydata.Age.mean()

9.857142857142858

In [145]:
mydata.Age.median()

10.0

In [149]:
mydata['Age'].mode()

0    8
dtype: int64

In [168]:
# Variance, with ddof=1 which is default in pandas:
print('pandas variance:',mydata.var())
print('pandas variance with ddof=1:',mydata.var(ddof=1))

pandas variance: Age    7.47619
dtype: float64
pandas variance with ddof=1: Age    7.47619
dtype: float64

In [164]:
# Standard deviation of the sample:
mydata.Age.std()

2.734262327610589

In [155]:
mydata.Age.std(ddof=1)

2.734262327610589

### se = s / sqrt(n)
se = standard error

'se' <i>quantifies the uncertainty in the estimate of the sample mean!</i>

In [160]:
# pandas:
mydata.Age.sem()

1.0334540197243192

In [258]:
# numpy:
np.std(mydata['Age'],ddof=1) / np.sqrt(len(mydata['Age']))

1.0334540197243192

In [147]:
mydata.describe()

             Age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [257]:
def summarystats(ages):
    print("mean: ",np.mean(ages))
    print("median: ",np.median(ages))
    print("variance: ",np.var(ages))
    print("std. deviation :",np.std(ages,ddof=1))
    print("standard error :",np.std(ages,ddof=1)/np.sqrt(len(ages)-1))

summarystats(mydata.Age)

mean:  9.857142857142858
median:  10.0
variance:  6.408163265306122
std. deviation : 2.734262327610589
standard error : 1.11625792093

## Q2: 
Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

One estimate of Central tendancy: i would chose the 'mean' as the data has no outlier that could bias it.
One estimate of variance: standard error shows how data is spread around the mean, the smaller the better.

## Q3:
Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [207]:
mydata.loc[5][1]

6

In [233]:
a = mydata
a

  ChildName  Age
0      Greg   14
1    Marcia   12
2     Peter   11
3       Jan   10
4     Bobby    8
5     Cindy    6
6    Oliver    8

In [209]:
mydata['ChildName'][5]

'Cindy'

In [210]:
print(mydata.iat[5,1])

6

In [234]:
# Change Cindy's Age:
mydata.iat[5,1] = 7

In [228]:
mydata #Cindy is 7 now:

  ChildName  Age
0      Greg   14
1    Marcia   12
2     Peter   11
3       Jan   10
4     Bobby    8
5     Cindy    6
6    Oliver    8

In [213]:
mydata.Age.mean()

10.0

In [235]:
mydata.describe()

             Age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [231]:
a.describe()

             Age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

## Answer:
The mean has increased b/c the numerator increased.

'std' decreased b/c one value increased from 6 to 7 and got closer to the mean <=> reducing variability & uncertainty.

## Q4:
Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [236]:
mydata

  ChildName  Age
0      Greg   14
1    Marcia   12
2     Peter   11
3       Jan   10
4     Bobby    8
5     Cindy    7
6    Oliver    8

In [238]:
mydata.loc[6]= ['Jessica',1]

In [239]:
mydata

  ChildName  Age
0      Greg   14
1    Marcia   12
2     Peter   11
3       Jan   10
4     Bobby    8
5     Cindy    7
6   Jessica    1

In [240]:
mydata.describe()

             Age
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [249]:
print('variance:',mydata['Age'].var())
print('std:',mydata['Age'].std())
print('std:',mydata['Age'].sem())

variance: 18.0
std: 4.242640687119285
std: 1.60356745147

### Answer:
- Mean: has decreased
- variance: variability of the data around the mean has increased b/c of this new outlier
- std: has increased
- sem: has increased

The sample has become more spreaded out.

## Q5:
On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: 
- TV Guide 20% fans 
- Entertainment Weekly 23% fans 
- Pop Culture Today 17% fans 
- SciPhi Phanatic 5% fans

Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

### Answer:
1. how many readers do these magazines have ? Knowing this can help us measure the weight of these percentages.
Eg: if 100 people are fans of TV Guide, Entertainment and Pop; but 10000 are fans of SciPhi than it becomes more clearly that our estimate should get closer to 5%!

Calculating an average of the four values is not a correct way but gives us a very rough approximation. Since the SciPhi is so low we could eliminate it. Instead of ~16% we could go for ~20% of Americands that were Brady Bunch fans.